.header {
  &__button {
    padding: 0 2rem;
    max-width: 150px;
    background-color: #2a913e;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid transparent;

    &--link {
      text-decoration: none;
    }
    
    &--search {
      margin-left: 10px;
    }
  }
}
