#root {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  // margin: 0 auto;
  // text-align: center;
  background-color: #242424;
}

.header {
  background-color: #6200ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 95%;
  border-radius: 5px;
  color: #ffffff;

  &__logo {
    font-size: 1.2rem;
    font-weight: 200;
  }

  &__button {
    // display: block;
    // height: 1.5rem;
    padding: 0 2rem;
    background-color: #2a913e;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid transparent;

    &--search {
      margin-left: 10px;
    }
  }

  &__input {
    border-radius: 3px;
  }
}

.map {
  background-color: green;
  width: 95%;

  height: calc(100vh - 85px);
  padding: 0.5rem 1rem;
}
